<div class="row">
  <div class="col-9">
    <span class="align-bottom">
      <h1><%= "#{@horse.name}" %></h1>
    </span>
  </div>
  <div class="col-3">
    <span class="align-bottom text-right">
      <%= link_to "Edit", edit_horse_path(@horse), class: "btn btn-primary" %>
      <%= link_to "Zurück", horses_path, class: "btn btn-primary" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table horses-table">
      <tr>
        <td>
          <b>
            Vorname
          </b>
        </td>
        <td>
          <%= @horse.pre_name %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Name
          </b>
        </td>
        <td>
          <%= @horse.name %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Geburtsdatum
          </b>
        </td>
        <td>
          <%= @horse.birthdate %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Info
          </b>
        </td>
        <td>
          <%= @horse.info %>
        </td>
      </tr>

    </table>
  </div>
</div>
