<div class="row">
  <div class="col-9">
    <span class="align-bottom">
      <h1><%= "#{@animal.name}" %></h1>
    </span>
  </div>
  <div class="col-3">
    <span class="align-bottom text-right">
      <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-primary" %>
      <%= link_to "Zurück", animals_path, class: "btn btn-primary" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table animals-table">
      <tr>
        <td>
          <b>
            Vorname
          </b>
        </td>
        <td>
          <%= @animal.pre_name %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Name
          </b>
        </td>
        <td>
          <%= @animal.name %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Geburtsdatum
          </b>
        </td>
        <td>
          <%= @animal.birthdate %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Info
          </b>
        </td>
        <td>
          <%= @animal.info %>
        </td>
      </tr>

    </table>
  </div>
</div>
