<div class="row">
  <div class="col-9">
    <span class="align-bottom">
      <h1><%= "#{@elefant.name}" %></h1>
    </span>
  </div>
  <div class="col-3">
    <span class="align-bottom text-right">
      <%= link_to "Edit", edit_elefant_path(@elefant), class: "btn btn-primary" %>
      <%= link_to "Zurück", elefants_path, class: "btn btn-primary" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table elefant-table">
      <tr>
        <td>
          <b>
            Vorname
          </b>
        </td>
        <td>
          <%= @elefant.prename %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Name
          </b>
        </td>
        <td>
          <%= @elefant.name %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Geburtsdatum
          </b>
        </td>
        <td>
          <%= @elefant.birthdate %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Info
          </b>
        </td>
        <td>
          <%= @elefant.info %>
        </td>
      </tr>

    </table>
  </div>
</div>
