<h1>Neue Vögel erfassen</h1>

<br>

<%= form_for @bird do |f| %>

  <table>
    <tr>
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :prename %>
      </td>
      <td>
        <%= f.text_field :prename %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :birthdate %>
      </td>
      <td>
        <%= f.date_field :birthdate%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :info %>
      </td>
      <td>
        <%= text_area(:bird, :info , cols: 20, rows: 20) %>
      </td>
    </tr>
  </table>

  <%= f.submit %>

<% end %>
